@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
}
.container{
    margin: 0px 50px;
}
/* header */
.header{
    background-image: url(./images/Banner\ Image.png);
    height: 600px;
    color: white;
    text-align: center;
    margin-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.header::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.37), rgba(255,255,255,0));
}
.header h2 {
    color: white;
    z-index: 10;
    font-size: 32px;
    line-height: normal;
    font-weight: 400;
}
.header h1 {
    z-index: 10;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 16px;
    padding: 0px 78px;
}
/* catagori */
.catagori{
    text-align: center;
    margin-top: 100px;
}
.catagori h1{
    font-size: 88px;
    color: #F00;
    font-weight: 900;
    line-height: normal;
    font-style: normal;
    font-family: 'Inter', sans-serif;}
.catagori p {
    font-size: 24px;
    color: #F00;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    margin-top: 25px;
    margin-bottom: 16px;
}
.catagori h2{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    font-family: 'Inter', sans-serif;
}
.catagori img {
    width: 800px;
    height: 500px;
    margin-top: 48px;
}
/* party */
.party {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    color: white;
    margin-top: 120px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./images/Vectorrr.png);
    border-radius: 10px;
}
.party .party-left{
    text-align: center;
}
.party .party-left h1 {
    width: 640px;
    color: #FFF;
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 53px;
    font-style: normal;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 5.04px;
    padding: 0px 0px 0px 80px;
}
.party .party-left p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 10px 0px 10px 80px;
    color: rgba(255, 255, 255, 0.80);
}
.party .party-left h2 {
    text-align: start;
    margin-left: 110px;
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
}
.party .party-right img {
    padding: 67px 100px 60px 40px;
}
/* New-Park */
.New-Park{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-color: antiquewhite;
    border-radius: 10px;
    height: 300px;
}
.New-Park p {
    font-size: 32px;
    margin-top: 120px;
    margin-top: 100px;
    line-height: 45px;
    font-weight: 500;
}
.New-Park p span{
    color: #F00;
}
.New-Park .btn {
    background-color: #F00;
    color: #FFF;
    border: none;
    margin: 12px 0px;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Coming-Soon */
.Coming-Soon {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
.Coming-Soon .one{

}
.Coming-Soon .one .best{
    color: #F00;
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Coming-Soon .one .coming {
    font-family: 'Merriweather', serif;
    color: #070211;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.Coming-Soon .one .dolor {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.Coming-Soon .two{

}
.Coming-Soon .two .Ellipse{
    border: 10px solid #F00;
    border-radius: 50%;
    width: 100%;
    padding: 20px;
    height: 350px;
    width: 350px;
}
.Coming-Soon .three{


}
.Coming-Soon .three h1{}
.Coming-Soon .three p {
    height: 60px;
    width: 216px;
    font-size: smaller;
}
.Coming-Soon .three img{}

/* FUNCTIONAL */
.FUNCTIONAL{
    text-align: center;
    margin-top:120px;
}
.FUNCTIONAL .top{}
.FUNCTIONAL .top .WHAT{
    color: #070211;
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.FUNCTIONAL .top .Holidays{
    text-align: center;
    font-family: "Merriweather", sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.FUNCTIONAL .top .Holidays span{
    color: #F00;
}
.FUNCTIONAL .top .sit{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: "inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

/* .FUNCTIONAL .bottum{
    
}
.FUNCTIONAL .bottum .left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.FUNCTIONAL .bottum .bottum-left .first{
     
    z-index: 2;
    opacity: 30px;
}
.FUNCTIONAL .bottum .bottum-left .mid{
    position: absolute;
    z-index: 2;
    margin-top: 270px;
    margin-left: -150px;
    
}
.FUNCTIONAL .bottum .bottum-left .last{
    position: relative;
    margin-bottom: -5px;
}
 
.FUNCTIONAL .bottum .right{}
.FUNCTIONAL .bottum .bottum-right {
    z-index: 1;
} */

/* subscribe section */
.Portfolio {
    margin-top: 120px;
}
.Portfolio .para{}
.Portfolio .para .THE {
    line-height: 40px;
    font-size: 35px;
    color: #f00;
    font-family: "inter", sans-serif;
}
.Portfolio .para .Our {
    font-size: 55px;
    font-family: "Merriweather", sans-serif;
    line-height: 90px;
}
.Portfolio .para .amet {
    color: gray;
    font-size: 17px;
    line-height: 35px;
}
.Portfolio .pics {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-radius: 10px;
 }
/* connect section */
.connect {
    background-color: lightpink;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 400px;
}
.connect .connect-top{
    text-align: center;
}
.connect .connect-top h1 {
    font-size: 55px;
    line-height: 90px;
}
.connect .connect-top p {
    font-size: 18px;
    color: gray;
    line-height: 35px;
}
.connect .connect-bottum{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.connect-bottum input{
    padding: 10px 40px;
    border-style: none;
    border-radius: 50px 0px 0px 50px;

}
.connect-bottum button{
    padding: 10px 25px;
    border: none;
    color: #FFF;
    background-color: #F00;
    border-radius: 0px 50px 50px 0px;
    margin-left: -5px;
}
/* footer section */
.footer{
    margin-top: 120px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    border-radius: 10px;
    height: 360px;
    padding: 0px 50px;
    line-height: 40px;
    font-size: 20px;
    font-family: "inter", sans-serif;
    font-weight: 500;
}
.footer .footer-top{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 700px;
}
.footer .img .img-top{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.footer .fours hr{
    background: rgba(255, 255, 255, 0.15);;
}
.footer .fours {

}
.footer .img .img-down{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footer .footer-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 699px;
    margin-bottom: 50px;
}